INSTALL
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.o
*.lo
*.a
*.la
*.Po
*.Plo
.deps
.libs
autom4te.cache
m4
