[Unit]
Description=SIP capture agent server daemon
After=syslog.target network.target auditd.service

[Service]
EnvironmentFile=/etc/sysconfig/captagent
ExecStart=/opt/sbin/captagent -f $CFG_FILE
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
