Source: captagent
Section: comm
Priority: optional
Maintainer: Konstantin S. Vishnivetsky <developer@unknown>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/captagent.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/captagent.git;a=summary

Package: captagent
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
#
#Package: captagent-doc
#Architecture: all
#Description: documentation for captagent
# <insert long description, indented with spaces>
