[Unit]
Description=SIP capture agent server daemon
After=syslog.target network.target auditd.service

[Service]
EnvironmentFile=/etc/sysconfig/captagent
ExecStartPre=/usr/bin/mkdir -m=2770 -p /var/run/captagent
ExecStartPre=/usr/bin/chown sipcapture:sipcapture /var/run/captagnet
ExecStart=/opt/sbin/sipcapture -f $CFG_FILE
KillMode=process
Restart=on-failure
RestartSec=42s
Type=forking

[Install]
WantedBy=multi-user.target
