capture[pcap] {

	# here we can check source/destination IP/port, message size
	if(msg_check("size", "100")) {

	    #Do parsing
	    if(parse_sip()) {
		#Can be defined many profiles in transport_hep.xml
		
		if(!send_hep("hepsocket")) {
		    clog("ERROR", "Error sending HEP!!!!");
		}
		
		if(sip_has_sdp())
		{
			#Activate it for RTCP checks
			if(!check_rtcp_ipport())
			{
				clog("ERROR", "ALREADY EXIST");
			}
		}

		#Duplicate all INVITEs to JSON transport
		# if(sip_is_method() && sip_check("method","INVITE")) {
		#    #Can be defined many profiles in transport_json.xml
		#    if(!send_json("jsonsocket")) {
		#	clog("ERROR", "Error sending JSON!!!");
		#    }
		# }

		# Route based on any SIP header value (prefix match):
		# header_check("HEADER-NAME", "value") returns true when the
		# header value starts with the given string.
		# Example: send to homer2 when X-Serialnumber matches
		# if(header_check("X-Serialnumber", "000413924E28")) {
		#     if(!send_hep("homer2")) {
		#         clog("ERROR", "Error sending HEP!!!!");
		#     }
		# }

		# Route based on any SIP header value using regex (requires PCRE):
		# header_regexp_match("HEADER-NAME", "regexp_name") where
		# regexp_name is defined in the regexp section of protocol_sip.xml
		# if(header_regexp_match("User-Agent", "snom_regexp")) {
		#     if(!send_hep("homer2")) {
		#         clog("ERROR", "Error sending HEP!!!!");
		#     }
		# }
	    }
	}
	drop;
}
