[Unit]
Description=Captagent - monitoring system
After=network.target

[Service]
Type=forking
Environment='CFGFILE=/usr/local/captagent/etc/captagent/captagent.xml'
EnvironmentFile=-/etc/default/captagent
EnvironmentFile=-/etc/default/captagent.d/*
# PIDFile requires a full absolute path
PIDFile=/var/run/captagent.pid
# ExecStart requires a full absolute path
ExecStart=/usr/local/captagent/sbin/captagent -f $CFGFILE -d
Restart=always
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
